.accordion {
  margin-bottom: 2rem;
}

.accordion__title {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  border: none;
  background: transparent;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  letter-spacing: -0.5px;
  font-size: var(--fs-5);
  text-align: start;
}

.accordion__text {
  padding-left: 3rem;
  font-size: var(--fs-6);
  color: var(--navy-gray);
}

.accordion hr {
  margin: 1rem 0;
  color: #e5ecf4;
}

@media screen and (min-width: 1200px) {
  .accordion__title {
    margin: 0;
    padding-bottom: 1.8rem;
  }

  .accordion__text {
    padding-bottom: 3.5rem;
    line-height: 2;
  }

  .accordion hr {
    margin: 0;
  }
}
