.review-card {
  text-align: start;
  padding: 2rem 0.7rem 2rem 2rem;
  box-shadow: 0 6px 47px rgba(42, 82, 152, 0.1);
  border-radius: 0.5rem;
}

.review-card__rating-container {
  margin-bottom: 0.5rem;
}

.review-card__heading {
  margin-bottom: 1rem;
  font-size: var(--fs-5);
}

.review-card__text {
  font-size: var(--fs-4);
  margin-bottom: 2rem;
  line-height: 1.9;
}

.review-card__account {
  display: flex;
  align-items: center;
  justify-content: start;
}

.review-card__account-img {
  max-width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.review-card__account-name {
  font-size: var(--fs-5);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.review-card__account-nickname {
  font-size: var(--fs-6);
  font-weight: 500;
  color: #25a0ff;
}
