@import url("styles/hamburger.css");

:root {
  /* mobile font sizes */

  --fs-1: 3.2rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.8rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;
  --fs-7: 1.2rem;

  --dark-navy: #1e3c72;
  --navy: #2a5298;
  --white: #fff;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-black);
  font-family: "Poppins", sans-serif;
}

#container {
  padding: 4vw;
}

/*-----------------------------------*\
  #REUSABLE STYLES
\*-----------------------------------*/

.btn {
  padding: 1.3rem 3.1rem;
  border-radius: 5rem;
  font-family: "DM Sans", sans-serif;
}

.btn_transparent {
  background-color: transparent;
  border: 1.5px solid var(--white);
  color: var(--white);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  background-color: var(--dark-navy);
  padding: 1.5rem 4vw;
  position: relative;
}

.header__logo {
  display: flex;
  font-size: var(--fs-3);
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  color: var(--white);
  z-index: 4;
}

.header__logo-img {
  width: 3rem;
  filter: invert(100%);
}

.header__nav {
  display: none;
  position: absolute;
  background-color: var(--dark-navy);
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding: 2rem 0;
  z-index: 1;
}

.header__nav-list {
  font-family: "DM Sans", sans-serif;
  list-style: none;
  margin-bottom: 3rem;
}

.header__nav-item {
  margin-bottom: 1rem;
}

.header__nav-link {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs-5);
}

.header__nav-sublink {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs-6);
  margin-bottom: 1rem;
  display: block;
}

.header__nav-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.header__nav-dropdown.open {
  margin-bottom: 1rem;
  font-weight: bold;
}

.header__nav-dropdown img {
  width: 1.5rem;
  margin-left: 0.5rem;
  filter: invert(100%);
}
