@import url("styles/hamburger.css");
@import url("styles/reviewCard.css");
@import url("styles/priceItem.css");

:root {
  /* mobile font sizes */

  --fs-1: 3.2rem;
  --fs-2: 2.4rem;
  --fs-3: 2rem;
  --fs-4: 1.8rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;
  --fs-7: 1.2rem;

  --black-navy: #0f2137;
  --dark-navy: #1e3c72;
  --medium-navy: #22437d;
  --navy: #2a5298;
  --navy-gray: #343d48;
  --white: #fff;
  --green: #00c48c;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--light-black);
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif;
}

#container {
  padding: 4vw;
}

section {
  margin-bottom: 6rem;
  padding: 0 4vw;
  text-align: center;
}

/*-----------------------------------*\
  #REUSABLE STYLES
\*-----------------------------------*/

.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 5rem;
  padding: 1.3rem 3.1rem;
  font-size: var(--fs-5);
  user-select: none;
}

.btn_transparent {
  border: 1.5px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.btn_white {
  background-color: var(--white);
  color: var(--black-navy);
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

.btn_navy {
  background-color: var(--navy);
  color: var(--white);
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

.link {
  color: var(--white);
  font-size: var(--fs-5);
  text-decoration: none;
}

.sublink {
  display: block;
  margin-bottom: 1rem;
  color: var(--white);
  font-size: var(--fs-6);
  text-decoration: none;
}

.heading-primary {
  margin-bottom: 3rem;
  font-size: var(--fs-1);
}

.heading-secondary {
  margin-bottom: 3rem;
  font-size: var(--fs-2);
  letter-spacing: -1.5px;
}

.heading-tertiary {
  margin-bottom: 3rem;
  font-size: var(--fs-3);
  letter-spacing: -1.5px;
}

.heading-tertiary_white {
  color: var(--white);
}

.heading-fourth {
  margin-bottom: 3rem;
  font-size: var(--fs-4);
}

.subtitle {
  margin-bottom: 1rem;
  color: var(--navy);
  font-weight: bold;
  font-size: var(--fs-7);
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

.subtitle_gray {
  opacity: 0.7;
  color: var(--white);
}

.paragraph {
  font-size: var(--fs-5);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-navy);
  padding: 1.5rem 4vw;
}

.header__shapes-container {
  position: relative;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 999;
  color: var(--white);
  font-weight: bold;
  font-size: var(--fs-3);
  font-family: "Poppins", sans-serif;
}

.header__logo-img {
  filter: invert(100%);
  width: 3rem;
}

.header__nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  background-color: var(--dark-navy);
  padding: 10rem 0 2rem;
  width: 100%;
  text-align: center;
}

.header__nav-list {
  margin-bottom: 3rem;
  font-family: "DM Sans", sans-serif;
  list-style: none;
}

.header__nav-item {
  margin-bottom: 1rem;
}

.header__nav-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.header__nav-dropdown.open {
  margin-bottom: 1rem;
  font-weight: bold;
}

.header__nav-dropdown img {
  filter: invert(100%);
  margin-left: 0.5rem;
  width: 1.5rem;
}

.header__shapes-1,
.header__shapes-2,
.header__shapes-3 {
  position: absolute;
  z-index: 3;
}

.header__shapes-1,
.header__shapes-2 {
  width: 50%;
  height: 60%;
}

.header__shapes-3 {
  width: 50%;
  height: 30%;
}

.header__shapes-1 {
  top: 0;
  left: 0;
}

.header__shapes-2 {
  right: 0;
  bottom: 0;
}

.header__circle-shape-1 {
  top: 5%;
  right: -5%;
}

.header__circle-shape-2 {
  bottom: 5%;
  left: -5%;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  clip-path: circle(96.6% at 21% 30%);
  margin-bottom: 6rem;
  background-color: #1e3c72;
  padding-bottom: 5rem;
  color: var(--white);
}

.hero__image {
  position: relative;
}

.hero__mockup {
  position: relative;
  z-index: 3;
  width: 100%;
  height: auto;
}

.hero__dot-pattern {
  position: absolute;
  top: -2%;
  left: 60%;
  width: 12rem;
  height: 14rem;
}

.hero__textbox {
  position: relative;
  z-index: 999;
  padding: 0 4vw;
  text-align: center;
}

.hero__heading {
  margin-bottom: 1rem;
}

.hero__text {
  margin-bottom: 3rem;
}

.hero__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.hero__cta-video {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.hero__cta-video img {
  filter: invert(100%);
  width: 2.8rem;
}

.hero__sponsored-list {
  margin-top: 1.5rem;
  list-style: none;
}

.hero__sponsored-item {
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

/*-----------------------------------*\
  #QUALITY FEATURES 1
\*-----------------------------------*/

.features-list__feature-list {
  list-style: none;
}

.features-list__feature {
  margin-bottom: 5rem;
  padding: 0 8vw;
}

.features-list__feature-icon {
  margin-bottom: 1rem;
  width: 25%;
}

.features-list__feature-heading {
  margin-bottom: 1rem;
}

/*-----------------------------------*\
  #CORE FEATURES 1
\*-----------------------------------*/

.core-features_1__image {
  margin-bottom: 3rem;
  width: 80%;
}

.core-features_1__feature-list {
  list-style: none;
}

.core-features_1__feature {
  -webkit-box-shadow: 0px 8px 24px 0px rgba(69, 88, 157, 0.07);
  -moz-box-shadow: 0px 8px 24px 0px rgba(69, 88, 157, 0.07);
  box-shadow: 0px 8px 24px 0px rgba(69, 88, 157, 0.07);
  border-radius: 1rem;
  padding: 2rem 1rem;
}

.core-features_1__feature-icon {
  margin-bottom: 1.5rem;
  width: 25%;
}

.core-features_1__feature-heading {
  margin-bottom: 1rem;
}

.core-features_1__feature-text {
  line-height: 1.6;
}

/*-----------------------------------*\
  #COMPANIES
\*-----------------------------------*/

.companies img {
  margin-bottom: 3rem;
  width: 100%;
}

.companies .paragraph {
  margin-bottom: 3rem;
}

/*-----------------------------------*\
  #FUCNTIONS
\*-----------------------------------*/

.functions {
  background: linear-gradient(68deg, var(--dark-navy) 0%, var(--navy) 100%);
  padding: 4.5rem 4vw;
  color: var(--white);
}

.functions__list {
  list-style: none;
}

.functions__item {
  position: relative;
  margin-bottom: 5rem;
}

.function__number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1rem;
  border-radius: 35%;
  background-color: var(--white);
  width: 3.6rem;
  height: 3.6rem;
  color: var(--medium-navy);
  font-size: var(--fs-3);
  font-family: "Lexend Deca", "DM Sans", sans-serif;
}

.function__title {
  margin-bottom: 1rem;
}

.function__text {
  opacity: 0.65;
}

.function__arrow {
  position: absolute;
  right: calc(0% + 30vw);
  bottom: -10vw;
  transform: rotate(90deg);
  width: 15vw;
}

.function__arrow_right {
  bottom: -10vw;
  left: calc(0% + 30vw);
  transform: rotate(-90deg) scaleX(-1);
}

/*-----------------------------------*\
  #REVIEWS
\*-----------------------------------*/

.reviews {
  margin-bottom: 6rem;
}

/*-----------------------------------*\
  #CORE FEATURES 2
\*-----------------------------------*/

.core-features_2 {
  background-image: url("../src/assets/core-features_2/Bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding-bottom: 6rem;
  margin-bottom: 0;
}

.core-features_2__image {
  margin-bottom: 3rem;
  width: 80%;
}

.core-features_2 .paragraph {
  margin-bottom: 3rem;
}

/*-----------------------------------*\
  #PRICING
\*-----------------------------------*/

.pricing {
  padding: 4.5rem 4vw;
  margin-bottom: 6rem;
  background: linear-gradient(68deg, var(--dark-navy) 0%, var(--navy) 100%);
}
